@import "./variables";

.datePicker input:focus-visible {
  outline: none !important;
}

.datePicker input:focus {
  border: 1px solid $primary_color !important;
}

.datePicker:hover {
  input {
    border: 1px solid $primary_color !important;
  }
}

.datePicker input {
  width: calc(100% - 43px) !important;
  height: 48px !important;
  border-radius: 7px !important;
  border: 1px solid #d9d9d9 !important;
  padding: 0 20px !important;
  font-size: 14px !important;
  font-weight: 300 !important;

  &:focus-visible {
    height: 48px !important;
  }
}

.css-1n6ujgj {
  border-bottom: 1px solid $primary_color !important;
  background-color: $primary_lighter_color !important;
}

.css-g4cyqi,
.css-1k9hyq9 {
  color: $primary_color !important;
}

.css-g4cyqi:hover,
.css-g4cyqi:focus,
.css-1k9hyq9:hover,
.css-1k9hyq9:focus {
  background-color: $primary_lighter_color !important;
}

.css-1s9k2t7[data-selected="true"],
.css-oafk8r[data-selected="true"],
.css-1s9k2t7:active {
  background-color: $primary_color !important;
}

.css-1m8qzkt {
  z-index: 1000 !important;
  border: 1px solid #dedede;
}

.css-137m4ck {
  border: none !important;
}
