@import "partials/variables";
@import "partials/input";
@import "partials/tab";
@import "partials/datePicker";
@import "partials/uploader";

body,
html {
  //   height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1200px) {
    height: 100vh;
  }
}
