$primary_color: #4daa9f;
$primary_light_color: #d2f3ec;
$primary_lighter_color: #f0faf9;
$light_gray: rgb(248, 248, 248);
$black_color: rgb(26, 26, 26);

.ant-form-item-control-input-content {
  // height: 56px !important;

  .ant-input {
    height: 56px !important;
  }
}

.ant-form-item {
  position: relative !important;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  position: absolute;
  left: -4px;
}

// label[for]::after,
// :where(.css-dev-only-do-not-override-1x0dypw).ant-form-item
//   .ant-form-item-label
//   > label::after {
//   background-image: linear-gradient(30deg, purple, aqua) !important;
//   width: 3px !important;
//   height: 24px !important;
//   visibility: visible !important;
//   content: "" !important;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// label {
//   padding-right: 10px;
// }

:where(.css-dev-only-do-not-override-1x0dypw).ant-tabs-left
  > .ant-tabs-content-holder,
:where(.css-dev-only-do-not-override-1x0dypw).ant-tabs-left
  > div
  > .ant-tabs-content-holder {
  border-left: none !important;
}

.ant-tabs {
  height: 100%;
}

.ant-tabs-nav {
  width: 34% !important;
  background-color: $primary_lighter_color;
  height: 100% !important;
  border-radius: 0 20px 20px 0;
  padding: 20px;
}

.ant-tabs-content-holder {
  width: 66% !important;
  padding: 20px;
  // background-color: $light_gray;
  border-radius: 20px 0 0 20px;
}

.ant-tabs-ink-bar {
  height: 0 !important;
}

.ant-tabs-tab {
  height: 50px !important;
  margin-bottom: 50px !important;
  color: gray !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  display: block;
  position: relative;

  &::after {
    height: 54px;
    width: 3px;
    background-color: rgb(238, 238, 238);
    position: absolute;
    bottom: -60px;
    right: 42px;
    content: "";
    border-radius: 2px;
  }

  // &:last-of-type {
  //   margin-bottom: 0 !important;
  //   background-color: yellow !important;

  //   &::after {
  //     display: none !important;
  //     visibility: hidden;
  //   }
  // }
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  font-weight: 700 !important;
  color: $black_color !important;
}

.ant-tabs-tab-active .tabs_tabIndex__xjp83 {
  background-color: $primary_color !important;
  color: white;
}

.ant-tabs-tab-active::after {
  background-color: $primary_color !important;
}

.ant-select-show-search {
  width: 90px !important;
}
