$primary_color: #4daa9f;
$primary_light_color: #d2f3ec;
$primary_lighter_color: #f0faf9;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary_light_color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  direction: rtl;
}

.container {
  width: calc(100vw - 80px) !important;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(226, 226, 226);
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: 1200px) {
    width: 70vw !important;
    height: 570px;
    padding: 30px;
  }
}

.formCreatorContainer {
  width: 40%;
  padding: 30px;
  border-radius: 0 20px 20px 0;
  background-color: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tabs {
  width: 100%;
  border-radius: 20px;
}

.submitButtonContainer {
  height: 76px;
  padding-top: 20px;
  border-top: 1px solid rgb(221, 221, 221);
}

@media (min-width: 992px) {
  form::-webkit-scrollbar {
    width: 4px;
  }

  form::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 2px;
  }

  form::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  form {
    direction: ltr;
  }
}
