$primary_color: #4daa9f;

.ant-form-item {
  margin: 0 !important;
}

.resetButton {
  height: 50px !important;
  background-color: white;
  // border-radius: 20px;
  font-size: 15px !important;
  font-weight: 600 !important;
  // padding: 6px 30px;
  width: 100%;
  color: $primary_color;
  border: 1px solid $primary_color;

  &:hover {
    background-color: white !important;
    color: $primary_color !important;
  }
}
