$primary_color: #4daa9f;

.ant-form-item {
  margin: 0 !important;
}

.submitButton {
  height: 52px !important;
  background-color: $primary_color;
  font-size: 15px !important;
  font-weight: 600 !important;
  width: 100%;

  &:hover {
    background-color: $primary_color !important;
  }
}

.resetButton {
  height: 52px !important;
  background-color: white;
  color: $primary_color;
  border: 1px solid $primary_color;
  font-size: 15px !important;
  font-weight: 600 !important;
  width: 100%;

  &:hover {
    background-color: white !important;
    color: $primary_color !important;
  }
}

.buttonsContainer {
  position: relative;
  padding-top: 22px;
  // border-top: 1px solid rgb(226, 226, 226);
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: rgb(226, 226, 226);
  }
}
